@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Consolas', sans-serif;
    color: white;
    background: #3b444b;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.hero-image {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background: linear-gradient(to right, rgb(0, 70, 127), rgb(165, 204, 130));
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#but {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    color: black;

}

#but:hover {
    background-color: #555;
    color: white;
}

.logotypes {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logotypes img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.link {
    cursor: pointer;
}