@charset "UTF-8";
:root {
  --petrol-1: #BBD2C5;
  --petrol-2: #536976;
  --cultured:#F5F6F6;
  --crystal:#AACFE2;
  --yellow-green: #BDDE8F;
  --mauvelous: #F9A4AB;
  --feldgrau: #42635C;
  --black-0:#000000;
  --black-1:#191919;
  --black-2:#333333;
  --black-3:#4d4d4d;
  --black-4:#666666;
  --black-5:#808080;
  --sky-1:#076585;
  --sky-2:#FFFFFF;
  --platinum:#E4E4E4;
  --pewter-blue:#85B6B1;
  --light-salmon-pink:#FBA2A2;
  --chinese-orange:#ED7A3C;
  --vampire-black:#0A0909;
  --river-city-1:#2F5CFF;
  --river-city-2:#DBF4FF;
  --lady-lips-1-1:#FF9A9E;
  --lady-lips-1-2:#FECFEF;
  --blue-raspberry-1:#00B4DB;
  --blue-raspberry-2:#0083B0;
  --pinot-noir-1:#4B6CB7;
  --pinot-noir-2:#182848;
  --windy-1:#ACB6E5;
  --windy-2:#86FDE8;
  --forest-inel-1:#5236FF;
  --forest-inel-2:#D9EDFF;
  --socialive-1:#06BEB6;
  --socialive-2:#48B1BF;
  --anamnisar-1:#9796F0;
  --anamnisar-2:#FBC7D4;
  --pallette-1-1:#1d4851;
  --pallette-1-2:#9ab5bc;
  --pallette-1-3:#ff9001;
  --pallette-1-4:#ff4701;
  --pallette-2-1:#0b0b11;
  --pallette-2-2:#8288c3;
  --pallette-2-3:#242961;
  --pallette-2-4:#d0bed4;
  --pallette-3-1:#2f3435;
  --pallette-3-2:#4ab6c0;
  --pallette-3-3:#f79c1d;
  --pallette-3-4:#edd8cd;
  --pallette-4-1:#789c52;
  --pallette-4-2:#fa2d73;
  --pallette-4-3:#fe983b;
  --pallette-4-4:#fff3d1;
  --pallette-5-1:#0d110f;
  --pallette-5-2:#6f8c64;
  --pallette-5-3:#fdd584;
  --pallette-5-4:#2a4731;
  --pallette-6-1:#453a3a;
  --pallette-6-2:#ece0d0;
  --pallette-6-3:#d39e7c;
  --pallette-6-4:#80a9bc;
  --pallette-7-1:#568795;
  --pallette-7-2:#727144;
  --pallette-7-3:#7bacd5;
  --pallette-7-4:#c3c8d4;
  --vibrance-1:#2daaff;
  --vibrance-2:#26479c;
  --florish-1:#ce9ef3;
  --florish-2:#f6f3ff;
  --wavey-1:#c4f4f2;
  --wavey-2:#69ebfc;
  --bloom-1:#8383be;
  --bloom-2:#50a7d9;
  --mild-waters-1:#e0eafd;
  --mild-waters-2:#b2cbee;
  --oceanix-1:#7bdfe6;
  --oceanix-2:#5894a6;
  --bright-light-1:#7d7be6;
  --bright-light-2:#9558a6;
  --oceanix-2-1:#cac9ee;
  --oceanix-2-2:#e9caf3;
  --combo-1-1:#0063b1;
  --combo-1-2:#9cc2d5;
  --combo-2-1:#cace91;
  --combo-2-2:#ea748e;
  --combo-3-1:#56669d;
  --combo-3-2:#fa9490;
  --combo-4-1:#87abe3;
  --combo-4-2:#fcf7f4;
  --combo-5-1:#fccfc9;
  --combo-5-2:#6e6e6c;
  --combo-6-1:#2bae68;
  --combo-6-2:#fcf7f4;
  --combo-7-1:#01539d;
  --combo-7-2:#ffd662;
  --pallette-8-1:#f5cec7;
  --pallette-8-2:#c6c09c;
  --pallette-8-3:#ffb384;
  --pallette-8-4:#e79796;
  --pallette-8-5:#ffc98b;
  --pallette-9-1:#96d4bb;
  --pallette-9-2:#99d9db;
  --pallette-9-3:#218b81;
  --pallette-9-4:#eb96ab;
  --pallette-9-5:#cfc5c6;
  --pallette-10-1:#c8a8da;
  --pallette-10-2:#ead2df;
  --pallette-10-3:#edb5d2;
  --pallette-10-4:#7a6e62;
  --pallette-10-5:#ffe6c0;
  --pallette-11-1:#dce4f9;
  --pallette-11-2:#81aac4;
  --pallette-11-3:#efd3bf;
  --pallette-11-4:#cfc5c6;
  --pallette-11-5:#a6bcee;
  --apple-red:#ff3830;
  --apple-orange:#ff9501;
  --apple-yellow:#ffcc00;
  --apple-green:#34c85a;
  --apple-cyan:#5ac8fb;
  --apple-blue:#007aff;
  --apple-dark-blue:#5855d6;
  --apple-violet:#af52de;
  --apple-dark-red:#ff2c55;
  --galaxy-1:#6A11CB;
  --galaxy-2:#FC6767;
  --sol-1:#ff1f01;
  --sol-2:#ffc700;
  --milkyway-1:#d0dae0;
  --milkyway-2:#e2ebf0;
  --almost-1:#f9e7fe;
  --almost-2:#dafcfc;
  --aqua-marine-1:#1a2980;
  --aqua-marine-2:#26d0ce;
  --coffee-1:#1e130c;
  --coffee-2:#9a8478;
  --emerald-1:#ad8cea;
  --emerald-2:#50dfb2;
  --gold-dust-1:#e3d2c4;
  --gold-dust-2:#fcfcfb;
  --ember-1:#fe8c8c;
  --ember-2:#f8bc9a;
  --ember-3:#f8d49a;
  --ember-4:#f7e6ca;
  --lady-lips-2-1:#ff9ca0;
  --lady-lips-2-2:#ffcfef;
  --night-fade-1:#a38ed2;
  --night-fade-2:#f9c1eb;
  --juicy-peach-1:#ffecd2;
  --juicy-peach-2:#fdb8a1;
  --frozen-dreams-1:#fdccf1;
  --frozen-dreams-2:#f8edfb;
  --winter-neva-1:#a2c5fe;
  --winter-neva-2:#c2e9fc;
  --february-ink-1:#adccef;
  --february-ink-2:#e7f0fd;
  --vega-1:#ef9da8;
  --vega-2:#ffdce0;
  --enchantment-1:#9896f0;
  --enchantment-2:#fbc8d5;
  --saint-petersburg-1:#71c5ee;
  --saint-petersburg-2:#025091;
  --lemon-high-1:#fbee97;
  --lemon-high-2:#adedd5;
  --azure-1:#ff7082;
  --azure-2:#c0e9ff;
  --racoon-black-1:#bcc5ce;
  --racoon-black-2:#939fae;
  --mole-hall-1:#626262;
  --mole-hall-2:#9bc5c3;
  --confident-cloud-1:#dbd5ed;
  --confident-cloud-2:#f3e7ea;
  --pallette-12-purple:#6a66a3;
  --pallette-12-peanut:#95d7ae;
  --pallette-12-yellow:#f4c600;
  --pallette-12-pink:#f9d6c8;
  --pallette-12-red:#eb6534;
  --hodors-sentence-1:#7ee8fa;
  --hodors-sentence-2:#eec0c6;
  --kennedys-speech-1:#0bab64;
  --kennedys-speech-2:#3bb78f;
  --ceasars-career-1:#f53844;
  --ceasars-career-2:#42378f;
  --soda-1:#ffdd00;
  --soda-2:#fbb034;
  --login-screen-1:#96e4df;
  --login-screen-2:#4dccc6;
  --merkels-folks-1:#4884ee;
  --merkels-folks-2:#06bcfb;
  --mauve:#d3d8e9
}
